doctype html
html    
    head
        title Index Page
    body
        #header
            h1 hello jade
            h2 lorem ipsum
        hr
        .article
            a(href="http://hanbit.co.kr", data-test="multiple Attribute") go to hanbit media