<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
        </head>
    <title>login_Project1</title>
    <style>
      
      html::after { width: 100%; height: 100%; content: "";  top: 0; left: 0; z-index: -1; opacity: 0.3;background: url("./img/dog1.jpg") ; position: absolute; background-size: cover;  }
      
      
    </style>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand/logo -->

  <a class="navbar-brand" href="#">
    <img src="/img/요미로고3.png" alt="logo" style="width:40px; margin-left: 50px;">
  </a>

<!-- Links -->

<ul class="navbar-nav" style="margin-right: 650px;">
  <li class="nav-item">
      <a class="nav-link" href="https://ko.wikipedia.org/wiki/강아지">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://ko.wikipedia.org/wiki/강아지">Store</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/bbs/list">Board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/contact">Contact</a>
    </li>
  </ul>
</nav>
    <div class="container"  >
        <div class="row" >
            <div class="col-3">
              <h1 style="margin-top: 20%; margin-left: 20%; "> Hello! </h1>
              <h3 style="margin-top: 10%; margin-left: 20%; "> Yomi's Garden!</h3>
              <button type="submit" class="btn btn-info" style="margin-left: 23%; margin-top: 5%;" onclick="location.href='/user/Register'">회원가입</button>
            </div>            
            <div class="col-5">
                <form action="/login" method="POST" style="margin-top: 90%; padding-left: 10%; ">
                    <div class="form-group">
                      <label for="uid">ID:</label>
                      <input type="text" class="form-control" placeholder="Enter your ID" id="uid" name="uid">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="pwd">
                    </div>
                    <div class="form-group form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                      </label>
                    </div>
                    <div style="text-align: center;">
                      <button type="submit" class="btn btn-secondary" style="text-align: center; margin-right: 5px;" >로그인</button>
                    </div>
                  </form>
                      <div  >
                        
                      </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
  <!-- onclick="location.href='bbsList.js'"     버튼 로그인에 있던거 잠시 여기로--> 
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-bottom justify-content-center">
    <!-- Navbar text-->
    <span class="navbar-text "  >
      Copyright &copy; 2020 Yomi's Garden
    </span>
  
  </nav>
     
</body>
</html>